parameters:
    level: 2

    paths:
        - src
        - tests

    ignoreErrors:
        -
            message: '#Variable \$chr in isset\(\) always exists and is not nullable#'
            path: src/Plugins/datamatrix.php
